.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

*.tmp
*.swp
*.bak
*.pdf
*.rds
*.rda

data-raw/*
!data-raw/README.md
!data/*/*.rds
data/outcomes_model.rds

stan/*
!stan/*.stan
!stan/*.hpp

R/billing/
