/*-- scss:variables --*/

/*-- scss:rules --*/

.dem {
    color: #3D77BB;
}
.rep, .gop {
    color: #B25D4C;
}
.ddem {
    color: #0063B1;
}
.drep {
    color: #A0442C;
}

.adv {
    a {
        color: black;
        font-size: 1.75rem;
        text-align: center;
        display: block;
    }
}

.banner {
    background: $gray-300;
    padding: 1.5rem 0.2rem 0.8rem;

    p {
        font-size: 1.6rem;
        line-height: 1.1em;

        margin: 0.2em 0 0.6em;
    }

    .updated {
        color: $gray-600;
        font-size: 0.7rem;
        margin-top: 0;
    }
}

.splash p {
   margin: 0;
}

#plot-hist, #plot-hist-house, #plot-hist-sen {
    overflow: visible;
}

#plot-map {
    position: relative;
    max-width: 1080px;
    margin: -1rem auto 0;
    overflow: visible;

    svg {
        display: block;

        .distrs > path {
            pointer-events: all;
            /* cursor: pointer; */
        }
    }

    .map-tooltip {
        position: absolute;
        width: 200px;
        padding: 0.5rem;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 1.1;
        z-index: 20;
        background: #ffffffd4;
        border-radius: 2px;
        border: 1px solid #0005;
        backdrop-filter: blur(2px);

        h3 {
            margin: 0 0 4px;
            padding: 0;
            font-size: 1.2em;
            display: inline;
        }
        h3 + p {
            display: inline;
            margin-left: 4px;
            float: right;
        }

        p {
            margin: 2px 0;
        }
    }
}

table {
    .chip {
        padding: 4px 4px;
        text-align: center;
        border-radius: 2px;
        font-size: 0.75em;
    }

    .inc {
        font-size: 0.85em;
        text-transform: uppercase;
    }

    .cand {
        font-size: 0.75em;
        line-height: 1.15;
        font-weight: 600;
    }

    .est {
        height: 1.5rem;
        font-size: 10px;
        font-weight: bold;
        line-height: 1.5rem;
    }

    .firm {
        white-space: break-spaces;
        line-height: 1.05;
        font-size: 0.85em;
        font-weight: 500;
    }
    .date {
        color: #777;
        font-size: 0.85em;
    }
    .poll-type, .poll-lv {
        font-size: 0.7em;
        line-height: 1.15;
        font-weight: 500;
        color: #444;
    }
    .poll-lv {
        color: #777;
    }
}

#distr-tab table {
    td, th {
        overflow: visible;
    }

    td:nth-child(2), th:nth-child(2) {
        display: none;
    }
}

#polls-tab table {
    td {
        font-size: 0.85rem;
    }

    td:first-child, th:first-child { /* checkboxes */
        display: none;
    }
}

input {
    outline: none;
}

form.oi-ec050e-textarea {
    width: unset !important;
}

@media (max-width: 600px) {
    #distr-tab table td, #polls-tab table td {
        font-size: 0.85rem;
    }

    #distr-tab table {
        td:first-child, th:first-child { /* checkboxes */
            display: none;
        }
    }
}
